.code {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 300px;
  overflow: hidden;
}

.code > pre {
  margin: 0;
}

.code > pre > code {
  white-space:pre-wrap;
  padding: 10px;
  height: calc(300px - 32px);
}

.code__title {
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  height: 32px;
  line-height: 32px;
  color: #AAA;
  font-size: .8em;
}
